@font-face {
    font-family: "GilroyBold";
    src: url("fonts/Gilroy-Bold.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    outline: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --green: #6bca3e;
    --white: white;
    --grey: #F0F4F7;
    --grey2: #e2eaf0;
    --grey3: #A8B3C2;
    --grey4: #6e7680;
    --pink: #902156;
    --gilroy: GilroyBold, serif;
    --roboto: Roboto, sans-serif;
}


.left-section {
    margin-top: 158px;
}

.content_area {


}

.title_main {
    display: flex;
    font-size: 48px;
    font-family: var(--gilroy);
}

    .title_main img {
        margin-left: 15px;
    }

.sub-title {
    margin-top: 28px;
    font-size: 18px;
}

.sub-title-pic {
    width: 18px;
    height: 19px;
}

.title-pic {
    width: 56px;
    height: 50px;
}

.content_area {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

label {
    position: relative;
}

.input {
    border-radius: 30px;
    width: 470px;
    height: 60px;
    background: var(--grey);
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.input:hover {
    background-color: var(--grey2);
}

.input::placeholder {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}

.input:focus:valid {
    border: 2px solid var(--green);
    outline: none;
    transition: 0.3s;
    background-color: white;
}

.input .circleIcon:focus {
    outline: none;
    box-sizing: border-box;
    background: var(--green);
    transition: 0.3s;
}

.input:focus:valid + .circleIcon {
    border: 2px solid var(--green);
}

.inputBtn {
    position: absolute;
    top: 16px;
    right: 18px;
}

.circleIcon {
    position: absolute;
    top: -11;
    right: 10px;
    bottom: -16px;
    background: var(--white);
    width: 45px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
    border: 2px solid transparent;
}

.circleIcon:hover {
    border: 2px solid var(--green);
}

input[type="email"] {
    padding: 0 0 5px 31px;
    letter-spacing: 0.5px;
    font-family: var(--roboto);
}

.left-section , .right-section {
    max-width: 455px;
}
.left-section p {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
}

.section_framework {
    margin-bottom: 50px;
}

    .section_framework .item {
        padding-left: 25px;
    }

.right-section {
    margin-left: 136px;
    margin-top: 118px;
}
.right_item {
    margin-left: 80px;
}

.icon {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    background: var(--grey);
    display: flex;
    justify-content: space-evenly;
}

.listLink {
    display: flex;
}

.img {
    margin: auto;
}

.icon:hover {
    border: 2px solid var(--green);
    background: var(--white);
}

.icon:nth-child(3) a img {
    width: 14px;
}

.icons {
    width: 480px;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 20px;
    display: flex;
}

.item {
    display: flex;
    margin-top: 23px;
}

.item .title {
    font-family: GilroyBold, serif;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: var(--pink);
    font-size: 10px;
    letter-spacing: 0.1em;
}


.item h4 {
    font-family: GilroyBold, serif;
    line-height: normal;
    font-size: 18px;
    color: #313335;
    padding-top: 5px;
}

.description_item {
    padding-top: 20px;
    display: flex;
    font-family: var(--roboto);
    font-size: 14px;
}

.description {
    margin-top: 17px;
    font-family: var(--roboto);
}

.chose_section {
    margin-left: 80px;
}

/*.icon {*/
    /*border-radius: 30px;*/
    /*width: 10px;*/
    /*padding: 0px 6px 2px 6px;*/
    /*background: #F0F4F7;*/
/*}*/

.chose_section:after {
    content: '\2807';
    font-size: 22px;
    cursor: pointer;
}

.link {
    background-color: var(--white);
    border: 2px solid var(--grey2);
    border-radius: 21px;
    width: 76px;
    padding: 6px 15px 6px 15px;
    text-align: center;
    margin-top: 26px;
    margin-left: 14px;
}

    .link a {
        text-decoration: none;
        color: #313335;
        font-weight: bold;
        font-family: var(--gilroy);
        text-transform: uppercase;
        font-size: 10px;
    }

.link:hover {
    background-color: var(--grey);
}

.ftr_title {
    color: var(--grey2);
    font-family: var(--gilroy);
    line-height: normal;
    font-size: 14px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 15px;
}

.ftr_item {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: var(--grey3);
    padding-bottom: 10px;
}

.ftr_center {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    font-family: var(--roboto);
    padding-bottom: 55px;
}

.ftr_center ul{
    /*padding-right: 21px;*/
    padding-top: 64px;
}

.ftr_center ul:last-of-type {
    flex-shrink: 7;
}

.ftr_title {
    font-family: var(--gilroy);
}

.footer {
    background: #313335;
}

.footer ul li a {
    color: var(--green);
}

.all_items {
    background: var(--pink);
    text-align: center;
    padding: 15px 20px 15px 20px;
    border-radius: 21px;
    width: 450px;
    color: var(--white);
    cursor: pointer;
    font-family: var(--gilroy);
    font-size: 14px;
    border: none;
}

.item {
    width: 505px;
}

.hr {
    border: none;
    height: 1px;
    background-color: var(--grey);
    width: 100%;
    margin-top: 10px;
}

.footer-discleimer {
    text-align: center;
    font-family: var(--roboto);
    color: var(--grey4);
    font-size: 11px;
    padding-bottom: 10px;
}

@media (max-width: 320px) {
    .description {
        display: none;
    }

    .description_item {
        width: 425px
    }

    .item .title {
        font-size: 27px;
    }

    .content_area {
        display: block;
    }
    .footer {
        width: 768px;
    }

    .title_main {
        display: block;
    }

    .title_main {
        font-size: 48px;
    }

    /*.left-section {*/
        /*margin-left: 100px;*/
    /*}*/

    .title_main {
        padding-left: 70px;
        font-size: 30px;
    }

    .title_main img {
        height: 60px;
        padding-left: 90px;
    }

    .input::placeholder {
        font-size: 25px;
        padding-top: 10px;
        margin-top: 10px;
    }

    .icons {
        display: none;
    }
}


/*font-family: Gilroy;*/